body {
    background-color: #FFDDFF;
}

.navbar .nav>li>a{
    padding: 1px 15px 1px 0px;
}

.navbar-inner{
    min-height: 22px;
}

.block {
    background-color: #FFFFFF;
    margin: 10px;
    text-align: justify;
    padding-bottom: 9px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 9px rgba(0,0,0,0.3);   
}

.block .top {
    background: #2F2E35;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.block .main {
    padding: 0px 10px 0px 10px;
}

.top h1 {
    color: #fff;
    text-align: center;
    font-size: 125%;
}

.block ul{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    display: block;
}

.block a{
    color: #550055;
    text-decoration: underline;
}

.block h2 {
    margin: 0px;
    font-size: 112%;
    line-height: normal;
}
.block h3 {
    margin: 0px;
    font-size: 100%;
    font-weight: normal;
    line-height: normal;
}
