/* hide dates at small widths */
@media (max-width: 600px) {
    .post-date {
        display: none;
    }
}

body {
    background-color: #EEDDFF;
    padding-top: 50px;
}

.navbar {
    background-color: #333;
    color: #fff;
}

.navbar-nav>li>a {
    color: #999;
    font-size: 125%;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #333;
    color: #fff;
}

.navbar-nav>.active>a {
    color: #fff;
    background-color: #333;
}


.block-blog-post {
    background-color: #FFFFFF;
    margin: 10px;
    text-align: justify;
    padding-bottom: 9px;
    font-size: 125%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 9px rgba(0,0,0,0.3);       
}



.block-blog-post .main {
    padding: 0px 10px 0px 10px;
}

.block {
    background-color: #FFFFFF;
    margin: 10px;
    text-align: justify;
    padding-bottom: 9px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 9px rgba(0,0,0,0.3);   
}


.block .main {
    padding: 0px 10px 0px 10px;
}

.post-list {
    font-size: 125%;    
}

.post-div {
    padding-bottom: 35px;
}

.top h1 {
    text-align: center;
    font-size: 150%;
    padding-top: 5px;
}

.side-post {
    margin-bottom: 10px;
}

.block-blog-post .top h1 {
    text-align: center;
    font-size: 200%;
    padding-top: 5px;
}

.nolist ul{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    display: block;
}

.block a{
    color: #550055;
    text-decoration: underline;
}

.block h2 {
    margin: 0px;
    font-size: 112%;
    line-height: normal;
}
.block h3 {
    margin: 0px;
    font-size: 100%;
    font-weight: normal;
    line-height: normal;
}

/*don't collapse the navbar -- below is from Stack Overflow*/

.navbar-header {
    float: left;
}
.navbar-toggle {
    display: none;
}
.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-nav {
    float: left !important;
    margin: 0;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
